html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  margin-top: 4rem;
}
.cash-slider {
  margin-top: 5rem;
}

.cash-slider > p {
  margin-top: 2rem;
}
.cashback {
  margin-left: 5rem;
  text-align: left;
}

.cash-left > h4 {
  color: #673ab7;
}

.cash-left > p {
  margin-top: 3rem;
}

.amount {
  font-family: Comic Sans MS;
  color: #e91e63;
}
.top-panel {
  margin-left: 10%;
}
.top-panel > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.caculator {
  overflow-y: hidden;
}

@media (max-width: 703px) {
  .container {
    margin-top: 0.5rem;
  }
  .cashback {
    margin-left: 0rem;
  }
  .cash-slider {
    margin-top: 0rem;
  }
}
